.a{

    color: aqua;
}
.b{

    background-color: brown;
}
.c{

    color: green;
}
.d{

    background-color: blue;
}
.A1{

    background-color: aquamarine;
    font-size: x-large;
    font-family: fantasy;
}
.A2{

    color: rgb(6, 6, 61);
}